.item {
    border-left: 1px solid var(--gray-120);
    border-bottom: 1px solid var(--gray-120);
    padding: 30px 0 5px 10px;
    color: var(--gray-120);
    min-height: 50px;
    word-wrap: break-word ;
    font-size: 18px;
    margin: 0 0 2px 15px;
}

.delete {
    border-left: 1px solid var(--color-red-200);
    border-bottom: 1px solid var(--color-red-200);
    padding: 10px;
    margin: 0 0 2px 15px;
    color: var(--gray-120);
    max-height: 50px;
    word-wrap: break-word ;
    font-size: 18px;
}
.btn {
    color: var(--color-red-200);
    margin-top: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    outline: none;
}
.wrapperBtn{
    color: var(--gray-120);
    font-size: 18px;
}
.btn:hover {
    color: var(--color-red-100);
}
.time {
    color: var(--green-100);
    margin-top: 10px;
    font-size: 14px;
}


@media screen and (min-width: 1024px) and (max-width: 1200px){
    .item {
        padding: 30px 0 10px 10px;
        min-height: 50px;
        font-size: 16px;
    }
    
    .delete {
        padding: 10px;
        max-height: 40px;
        font-size: 16px;
    }
    .btn {
        margin-top: 20px;
        font-size: 12px;
    }
    .wrapperBtn{
        font-size: 15px;
    }
    .time {
        font-size: 14px;
    }
} 
@media screen and (min-width: 768px) and (max-width: 1024px){
    .item {
        padding: 10px 7px;
        min-height: 35px;
        font-size: 14px;
    }
    
    .delete {
        padding: 10px 7px;
        min-height: 35px;
        font-size: 12px;
    }
    .btn {
        margin-top: 10px;
        font-size: 10px;
    }
    .wrapperBtn{
        font-size: 12px;
    }
    .time {
        font-size: 12px;
    }
} 
@media screen and (min-width: 420px) and (max-width: 768px){
    .item {
        padding: 10px 4px;
        min-height: 20px;
        font-size: 10px;
    }
    
    .delete {
        padding: 8px 4px 4px;
        min-height: 20px;
        font-size: 9px;
    }
    .btn {
        margin-top: 6px;
        font-size: 8px;
    }
    .wrapperBtn{
        font-size: 9px;
    }
    .time {  
        font-size: 7px;
    }
} 
@media screen and (max-width: 420px){
    .item {
        padding: 5px;
        min-height: 20px;
        font-size: 8px;
    }
    .delete {
        padding: 5px 2px 2px;
        min-height: 20px;
        font-size: 7px;
    }
    .btn {
        margin-top: 6px;
        font-size: 6px;
    }
    .wrapperBtn{
        font-size: 7px;
    }
    .time {
        font-size: 5px;
    }
}
